<nav class="breadcrumb">
  <%= link_to 'Home', root_path, class: "breadcrumb-item small text-decoration-none" %>
  <% if params[:query] %>
    <%= link_to 'Stock', companies_path, class: "breadcrumb-item small text-decoration-none" %>
    <span class="breadcrumb-item active small">Search result</span>
  <% elsif params[:stock] %>
    <span class="breadcrumb-item active small "><%= params[:stock] %> Stock</span>
  <% else %>
    <span class="breadcrumb-item active small ">Stock</span>
  <% end %>
</nav>

<noscript>
  <div class="alert alert-warning d-flex align-items-center mt-2" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
  <div class="notice">You don't have javascript enabled. Please follow this link for assistance in turning it on.
    <%= link_to "Turn on javascript", "http://www.enable-javascript.com" %>
  </div>
</noscript>

<%= render 'companies', companies: @companies %>
