<nav class="breadcrumb">
  <%= link_to 'Stock', root_path, class: "breadcrumb-item small text-decoration-none" %>
  <span class="breadcrumb-item active small"><%= @company.name %></span>
</nav>
<h2>Company name: <%= @company.name %></h2><br />
<h4>Company symbol: <%= @company.symbol %></h4><br />
<h5 class="text-muted">Id in database: <%= @company.id %></h5>
