<!DOCTYPE html>
<html>
  <head>
    <title>JSCLook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class='container'>
      <%= render 'layouts/navbar' %>
    </header>
    <div class="container-fluid">
      <div class="row">
        <aside class="col-2" id="aside">
        <%= render 'layouts/aside' %>
        </aside>

        <main class="col-10" role="main" id="main">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
